button {
    margin-left: 50rem;
}
.container{
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0.2px solid rgb(209, 209, 209);
    box-shadow: 2px 2px 1px 2px rgb(200, 200, 200);
    background-color: rgba(200,200,200, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
small{
    color: red;
}
label{
    margin-left: 5px;
}