<app-header></app-header>
<section style="background-color: #eee;">
    <div class=" container py-5">
      <div class="row">
        <div class="col">
            <div class="card display">
                <div class="card-body ">
                   
                    

                     <div class="row">

                      <div class="col-lg-6">
                         <p class="text-muted mt-5">Time Cards</p>
                        
                      </div>
      
                      <div class="col-lg-6">
                        <button type="button" routerLink="/addtimesheet" class="btn btn-default">Add</button>
                     


                        
                       
                      </div> 
                     
                    </div>






                </div>
              </div>
              <div class="card display">
                <div class="card-body ">
                    <form>  
                       
                        <select>  
                        <option value = "Last 5 time cards"> Last 5 time cards   
                        </option>  
                        <option value = "Favorites"> Favorites   
                        </option>  

                        <option value = "Specific time period"> Specific time period  
                        </option>  
                        </select>  
                        </form>  
                </div>
              </div>
              <div class="card display">
                <div class="card-body ">
                    

<TABLE BORDER=”0″ class="table">
  <TR>
  <TD>
    <h4>12/26/22 - 1/1/23</h4>
    <p class="text-muted mb-2">Total Hours: 40</p>
  </TD>
  <TD><h4>Submitted</h4></TD>
  <TD> <h2><p class="text-muted mb-2">...</p></h2>
</TD>
  </TR>

  <TR>
    <TD>
      <h4>12/26/22 - 1/1/23</h4>
      <p class="text-muted mb-2">Total Hours: 40</p>
    </TD>
    <TD><h4>Submitted</h4></TD>
    <TD> <h2><p class="text-muted mb-2">...</p></h2>
  </TD>
    </TR>


     <TR>
  <TD>
    <h4>12/26/22 - 1/1/23</h4>
    <p class="text-muted mb-2">Total Hours: 40</p>
  </TD>
  <TD><h4>Submitted</h4></TD>
  <TD> <h2><p class="text-muted mb-2">...</p></h2>
</TD>
  </TR>
  <TR>
    <TD>
      <h4>12/26/22 - 1/1/23</h4>
      <p class="text-muted mb-2">Total Hours: 40</p>
    </TD>
    <TD><h4>Submitted</h4></TD>
    <TD> <h2><p class="text-muted mb-2">...</p></h2>
  </TD>
    </TR> <TR>
      <TD>
        <h4>12/26/22 - 1/1/23</h4>
        <p class="text-muted mb-2">Total Hours: 40</p>
      </TD>
      <TD><h4>Submitted</h4></TD>
      <TD> <h2><p class="text-muted mb-2">...</p></h2>
    </TD>
      </TR>


  </TABLE>
                    
                </div>
              </div>


        </div>
      </div>
  </div>
  </section>
