<app-header></app-header>
<section style="background-color: #eee;">
    <div class=" container py-5">  
      <div class="row">
        <div class="col">
            <div class="card display">
                <div class="card-body ">
                    <p class="text-muted mb-2">Entries</p>
                </div>
              </div>
              <div class="card display">
                <div class="card-body ">
                </div>
              </div>
              <div class="card display">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                          <button type="button" class="btn btn-default">Ok</button>
                          <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                      </div>
                </div>
              </div>
              <div class="card display">
                <div class="card-body ">
                    <form>
                        <div class="form-outline mb-4">
                            <p class="text-muted mb-2">Project Name</p>
                            <br>
                            <select id="projectname" name="projectname">
                              <option value="pr1">Project1</option>
                              <option value="pr2">Project2</option>
                              <option value="pr3">Project3</option>
                              <option value="pr4">Project4</option>
                            </select>
                        </div>
                        <div class="form-outline mb-4">
                            <p class="text-muted mb-2">Task Name</p>
                            <br>
                            <select id="task" name="task">
                              <option value="task1">task1</option>
                              <option value="task2">task2</option>
                              <option value="task3">task3</option>
                              <option value="task4">task4</option>
                            </select>
                        </div>
                        <div class="form-outline mb-4">
                            <p class="text-muted mb-2">Hours Type</p>
                            <br>
                            <select id="hours" name="hours">
                              <option value="regular">Regular</option>
                              <option value="holiday">Holiday</option>
                            </select>
                        </div>
                        <div class="form-outline mb-4">
                            <p class="text-muted mb-2">Quantity</p>
                        </div>
                      </form>
                </div>
              </div>
        </div>
      </div>
  </div>
  </section>
