<h3>Oranization Update Form</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="orgForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="id" class="form-label">Organization Id</label>
                    <input type="number" class="form-control" id="id" value="{{org.id}}" formControlName="id">
                </div>
                <div class="mb-3">
                    <label for="orgName" class="form-label">Organization Name</label>
                    <input type="text" class="form-control" id="orgName" value="{{org.orgName}}"
                        formControlName="orgName">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="" value="{{org.location}}"
                        formControlName="location">
                </div>
                <div class="mb-3">
                    <label for="owner" class="form-label">Owner</label>
                    <input type="text" class="form-control" id="owner" placeholder="" value="{{org.owner}}"
                        formControlName="owner">
                </div>
                <div class="mb-3">
                    <label for="ownerEmpId" class="form-label">Owner Employee Id</label>
                    <input type="text" class="form-control" id="ownerEmpId" placeholder="" value="{{org.ownerEmpId}}"
                        formControlName="ownerEmpId">
                </div>
                <div class="mb-3">
                    <label for="parentOrg" class="form-label">parent Organization</label>
                    <input type="number" class="form-control" id="parentOrg" placeholder="" value="{{org.parentOrg}}"
                        formControlName="parentOrg">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
