<!-- <app-header></app-header> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./slab-charges.component.css">
</head>
<body>
    <h1 class="container">slab-charges!</h1>
    <div class="container">
    <h2 >Organization:</h2>
    <table id="customers">
        <tr>
          <th>Slabs</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>0-2</td>
          <td>$100</td>
        </tr>
        <tr>
            <td>2-4</td>
            <td>$1000</td>
          </tr>
      </table>
</div>
</body>
</html>
